body {
  background-color: #1D0937;
  color: #ffffff;
}

h2 a {
color: #ffffff;
margin-top:25%;
 }

a:hover {
color: #fff;
}

.navbar {
background-color:  #3F306B
}
a.spoiler:after {
    content: " [-]";
}

a.spoiler.collapsed:after {
    content: " [+]";
}
.nav-tabs {
	margin-bottom: 15px;
}

.ot
{
padding: 0;
margin: 0;
  }

.dimmy {

    margin-top: 100%;
  }
.element {
position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      padding-top: 33%;
      padding-bottom:auto;
	  padding-top:auto;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      
	
text-align:center;
}

.circle {


border-radius: 50%;
padding-top: 25%;
position: relative;

margin-top: 5%;
}
.item {
	text-align:center;
	float:left;
}
  

  .rectangle {
    min-width: 100px;
    min-height:100px;
  margin: 2%;
  border-radius: 5%;
  padding-top: 25%;
  position: relative;
  margin-bottom: 10%;
  margin-top: 10%
    }



.clr1 {
background: linear-gradient(to right, #8C53DB, #5189DC);
    }
.clr11 {
background: linear-gradient(to left, #8C53DB, #5189DC);
        }

.clr2 {
background: linear-gradient(to right, #FD9722, #FC296E);
    }
.clr22 {
background: linear-gradient(to left, #FD9722, #FC296E);
        }

.clr3 {
background: linear-gradient(to right, #FB2575, #8936D3);
    }
.clr33 {
background: linear-gradient(to left, #FB2575, #8936D3);
        }

.clr4 {
background: linear-gradient(to right, #FC2B6D, #1D0937);
    }
.clr44 {
background: linear-gradient(to left, #FC2B6D, #1D0937);
        }

.pos   {
position: relative;
}

        
		@media screen and (min-width: 500px) and (max-width: 600px)  {
		h2 {
font-size:150%;}
		}	
		@media screen and (max-width: 500px)  {
		h2 {
font-size:120%;}
		}
		@media screen and (min-width: 500px) and (max-width: 700px)  {
		h2 {
font-size:150%;}
		}	



@media screen and (max-width: 321px)  {
		

.circle {
  min-width: 120px;
  max-width: 120px;
  min-height:120px;
  margin-left:auto;
  margin-right:auto;

}
        }		
@media screen and (min-width: 322px) and (max-width: 359px) {
		

.circle {
  min-width: 150px;
  max-width: 150px;
  min-height:150px;
  margin-left:auto;
  margin-right:auto;


}
        }
		
 @media screen and (min-width: 360px) and (max-width: 500px) 
			
			{
.circle {
  min-width: 150px;
  max-width: 150px;
  min-height:150px;
  margin-left:auto;
  margin-right:auto;	
}
        
        }
		
 @media screen and (min-width: 500px) and (max-width: 550px) 
			
			{
.circle {
 min-width: 160px;
   max-width: 160px;
  min-height:160px;
  margin-left:auto;
  margin-right:auto;	
}
        
        }	
		 @media screen and (min-width: 551px) and (max-width: 600px) 
			
			{
.circle {
 min-width: 175px;
   max-width: 175px;
  min-height:175px;
  margin-left:auto;
  margin-right:auto;	
		
}
        
        }	

 @media screen and (min-width: 600px) and (max-width: 650px) 
			
			{
.circle {
 min-width: 190px;
  max-width: 190px;
  min-height:190px;
    margin-left:auto;
  margin-right:auto;	
}
.element {
padding-top: 30%;
}        
        }		
@media screen and (min-width: 651px) and (max-width: 700px) 
			
			{
.circle {
 min-width: 210px;
  max-width: 210px;
  min-height:210px;
    margin-left:auto;
  margin-right:auto;	

}
        
        }					
		
	@media screen and (min-width: 701px) and (max-width: 740px) 
			
			{
.circle {
  max-width: 230px;
  min-height:230px;
    margin-left:auto;
  margin-right:auto;	

}
        
        }

	@media screen and (min-width: 741px) and (max-width: 767px) 
			
			{
.circle {
 min-width: 240px;
  max-width: 240px;
  min-height:240px;
    margin-left:auto;
  margin-right:auto;	

}
        
        }	
		
        @media screen and (min-width: 768px) and (max-width: 991px)  {
       	.circle {
min-width: 80%;
max-width: 80%;
min-height:10px;
border-radius: 50%;
padding-top: 80%;
position: relative;
margin-bottom: 0;
margin-top: 15%;
  margin-left:auto;
  margin-right:auto;	
  }
    .element {
position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 35%;
      padding-bottom:auto;
	  padding-top:auto;
      padding-left: auto;
      padding-right: auto;
      text-align: center;
	}   
}

        @media screen and (min-width: 992px)   {
       	.circle {
min-width: 80%;
max-width: 80%;
min-height:10px;
border-radius: 50%;
padding-top: 80%;
position: relative;
margin-bottom: 0;
margin-top: 15%;
  margin-left:auto;
  margin-right:auto;	
  }
    .element {
position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 33%;
      padding-bottom:auto;
	  padding-top:auto;
      padding-left: auto;
      padding-right: auto;
      text-align: center;
	}    		
h2 {font-size:200%};
}
@media screen and (min-width: 1500px)  {
h2 {font-size:200%};

}