body {
min-width: 350px;
  background-color: #1D0937;
  color: #ffffff;
}
.nav {
	min-width:400px;
}

h2 a {
color: #ffffff;
 }


a:hover {
color: #fff;
}

a:visited {
color: #fff;
}

a:hover,a:focus{
 outline: none;
 text-decoration: none;

}

.navbar {
background-color:  #3F306B
}
a.spoiler:after {
    content: " [-]";
}

a.spoiler.collapsed:after {
    content: " [+]";
}
.nav-tabs {
	margin-bottom: 15px;
}

.navbar {
background-color:  #3F306B
}

.ot
{
padding: 0;
margin: 0;
  }

.dimmy {

    margin-top: 100%;
  }
.element {
position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      padding-top: 1%;
      padding-bottom:20%;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      overflow: hidden;

}

/* кнопка */

  .pers__btn {
	  
   position:relative;
   max-width:60%;
   text-align:center;
   max-height:50px;
   color:#fff;
   padding: 2%;
   border-radius:50px;
   text-transform: capitalize;
   transform: scale(1.1,1.1);
   transition: all 0.3s ease-out 0s;
   border:0;
   min-width: 60%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;
  }
  .pers__btn h4 {
	  margin-top:auto;
	  margin-bottom:auto;
  }
  .floatedL {
	   font-size:90%;
	  text-align:center;
   float:left;
   margin-left:10%;
   margin-right:0;
	width:40%;
  padding-left:auto;
  padding-right:auto;
}

  .floatedR {
	  font-size:90%;
	   text-align:center;
   float:right;
   margin-right:10%;
   margin-left:0;
   width:40%;
     padding-left:auto;
  padding-right:auto;
  }
  
.floatedR   .floatedL a {

	   text-align:center;
   float:right;
   margin-right:0;
   margin-left:0;
   width:100%;
     padding-left:auto;
  padding-right:auto;
}
  
  .pers__btn:hover{
   transform: scale(1,1);
   color:#fff;
  }
  .pers__btn i{
   text-align:center;
   color:#fff;
  }
  .pers__btn:before {
   content: "";
   position: absolute;
   bottom: -8px;
   left:0px;
   width:100%;
   height: 10px;
   filter: blur(20px);
   border-radius: 30px;
   display: inline-block;
   z-index: -1;
   transition: all 0.3s ease-out 0s;
  }
  .pers__btn:hover:before{
   bottom:0;
   filter: blur(10px);
  }
    .pers__btn.add
    {margin:0;
      padding: 3%;

  }
  .pers__btn.purple   {
   background: linear-gradient(to right, #FB2575 , #8936D3);

  }
  .pers__btn.purple:before{
   background: linear-gradient(to right,#c04848,#480048);
  }
  
    .pers__btn.blue   {
   background: linear-gradient(to right, #5189DC,#8C53DB );

  }
  .pers__btn.blue:before{
   background: linear-gradient(to right,#5189DC,#8C53DB );
  }
  
      .pers__btn.orange   {
   background: linear-gradient(to right, #FD9722,#FC296E );

  }
  .pers__btn.orange:before{
   background: linear-gradient(to right,#FD9722,#FC296E);
  }


  
  img {

padding:0;	
text-align:center;
max-height:300px;
min-width:auto;
max-width:auto;

vertical-align: middle;
border-radius: 50%;
margin:5% auto;
}

.podimg {
color:#fff;
text-align:center;
	
}


.right {
	float:right;
	
}

.fon {
	position:relative;
background:  linear-gradient(to bottom, #2e3a6a,#320b35);

}

.item {
	opacity:1;
}

/* кнопка */

.btn{
 position: relative;
 color:#fff;
 border-radius:30px;
 text-transform: capitalize;
 transform: scale(1.1,1.1);
 transition:all 0.3s ease-out 0s;



}
.btn:hover{
 transform: scale(1,1);
 color:#fff;
}
.btn i{
 margin-right:15px;
 color:#fff;
}
.btn:before {
 content: "";
 position: absolute;
 bottom: -8px;
 left:0px;
 width:100%;
 height: 10px;
 filter: blur(20px);
 border-radius: 30px;
 display: inline-block;
 z-index: -1;
 transition: all 0.3s ease-out 0s;
}
.btn:hover:before{
 bottom:0;
 filter: blur(10px);
}


.btn.purple{
 background: linear-gradient(to right, #FB2575 , #8936D3);

}
.btn.purple:before{
 background: linear-gradient(to right,#c04848,#480048);
}
@media only screen and (max-width: 1200px){
 .btn{
 margin-bottom:15px;
 }
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
}

  .add__btn:hover{
   transform: scale(1,1);
   color:#fff;
  }
  .add__btn i{
   text-align:center;
   color:#fff;
  }
  .add__btn:before {
   content: "";
   position: absolute;
   bottom: -8px;
   left:0px;
   width:100%;
   height: 10px;
   filter: blur(20px);
   border-radius: 30px;
   display: inline-block;
   z-index: -1;
   transition: all 0.3s ease-out 0s;
  }
  .add__btn:hover:before{
   bottom:0;
   filter: blur(10px);
  }
    .add__btn.add
    {margin:0;
      padding: 3%;

  }
  .add__btn.purple   {
   background: linear-gradient(to right, #FB2575 , #8936D3);

  }
  .add__btn.purple:before{
   background: linear-gradient(to right,#c04848,#480048);
  }
  
    .add__btn.blue   {
   background: linear-gradient(to right, #5189DC,#8C53DB );

  }
  .add__btn.blue:before{
   background: linear-gradient(to right,#5189DC,#8C53DB );
  }
  
      .add__btn.orange   {
   background: linear-gradient(to right, #FD9722,#FC296E );

  }
  .add__btn.orange:before{
   background: linear-gradient(to right,#FD9722,#FC296E);
  }