	<!--
	<form action="">
	<input type="text" name="reward" placeholder="Награда для аффилиата" [(ngModel)]="action.reward" required>
	<input type="text" name="supportreward" placeholder="Награда для реферала" [(ngModel)]="action.supportReward" required>
	<input type="text" name="target" placeholder="Количество человек для выполнения" [(ngModel)]="action.target" required>
	<input type="text" name="description" placeholder="Описание" [(ngModel)]="action.description" required>
	<input type="date" name="datesince" placeholder="Дата начала" [(ngModel)]="datesince" (change)="changedatesince()" required>
	<input type="date" name="dateend" placeholder="Дата окончания" [(ngModel)]="dateend" (change)="changedateend()" required>
	<p>Заведение</p>
	<select  [ngModel]="selectedEst" (ngModelChange)="onChangeObj($event)" name="estlist">
	<option  [ngValue]="est" *ngFor="let est of establishments"  >{{est.estName}}</option>
	</select>
	<button (click)="createAction()" *ngIf="!edit;else unset">Создать акцию</button>
	 <ng-template #unset>  
	<button (click)="editAction()">Редактировать акцию</button>
	  </ng-template>   
	</form>
	-->
	 <div class="forma">
	   <div class="tab" role="tabpanel">
   <!-- Nav tabs -->
   <ul class="nav nav-tabs" role="tablist" *ngIf="!edit;else unset1">
   <li role="presentation" class="active center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">СОЗДАНИЕ АКЦИИ</a></li>
   </ul>
     <ng-template #unset1>  
	<ul class="nav nav-tabs" role="tablist" >
   <li role="presentation" class="active center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">РЕДАКТИРОВАНИЕ АКЦИИ</a></li>
   </ul>
	  </ng-template> 
  <!-- 1 столбец -->
    <div class="row">
    <div class="col-xs-offset-1  col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">
         <div class="tab-content1">
         <div role="tabpanel" class="tab-pane fade in active" id="Section1">
          <form class="form-horizontal">
             <div class="form-group">
             <label for="exampleInputEmail1">Главная награда (Сарафанка на ...)</label>
               <input  name="reward" maxlength="40" type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="action.reward" required>
             </div>
			 
               <div class="form-group">
               <label for="exampleInputEmail1">Награда для друзей (Сарафанка на ...)</label>
               <input name="supportreward" maxlength="40" type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="action.supportReward" required>
               </div>
               <div class="form-group">
               <label for="exampleInputEmail1">Цель</label>
               <input name="target" type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="action.target" required>
               </div>
			   <div class="form-group">
             <label for="exampleInputEmail1">Условие</label>
               <input  name="condition" maxlength="40" type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="action.condition" required>
             </div>
               <div class="form-group">
                  <label for="exampleInputEmail1">Заведения</label>
                 <div >
                   <select class="form-control" [ngModel]="selectedEst" (ngModelChange)="onChangeObj($event)" name="estlist">
                    <option  [ngValue]="est" *ngFor="let est of establishments"  >{{est.estName}}</option>
                  
                   </select>
                 </div>
               </div>

            </form>
         </div>
         </div>
    </div>
    <!-- 2 столбец -->
    <div class="col-xs-offset-1  col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">
         <div class="tab-content2">
         <div role="tabpanel" class="tab-pane fade in active" id="Section2">
           <form class="form-horizontal">


             <div class="form-group">
             <label for="exampleInputEmail1">Описание</label>
               <textarea name="description" maxlength="150" type="text" class="form-control form-control1" id="exampleInputEmail1" [(ngModel)]="action.description" required></textarea>
             </div>

             <div class="form-group">
            <form>
               <div class="form-group">
                 <label for="inputDate">Введите дату начала акции:</label>
                 <input name="datesince" type="date" class="form-control" [(ngModel)]="datesince" (change)="changedatesince()" required>
               </div>
             </form>
             <form>
                <div class="form-group">
                  <label for="inputDate">Введите дату окончания акции:</label>
                  <input name="dateend" type="date" class="form-control" [(ngModel)]="dateend" (change)="changedateend()" required>
                </div>
              </form>
        </div>




              
			   

               </form>
         </div>
         </div>
    </div>
	
	    <!-- Кнопка-->
		<div class="center ">
			<div class="floatedL ">
		<button name="subnit"  class="pers__btn blue" routerLink="/admin/actions">Отменить</button>
		 </div>
				 
		<div class="floatedR " *ngIf="!edit;else unset">
		<button name="subnit" type="submit" class="pers__btn orange" (click)="createAction()">Добавить</button>
		 </div>

		 <ng-template #unset>  
				<div class="floatedR " >
		<button name="subnit" type="submit" class="pers__btn orange" (click)="editAction()">Сохранить</button>
		 </div>
	  </ng-template> 
		 
	    </div> 


			   
			  
			
</div>
</div>
</div>