
 <div class="form-group">
               <label for="exampleInputEmail1">Введите номер сарафанки</label>
               <input name="target" class="form-control" [(ngModel)] ="sarCode" [textMask]="{mask: mask}" required>
               </div>

<div   class="center">
               <a name="btn"(click)="enterCode()" class="btn btn-lg purple" ><i class="fa fa-download"></i>Проверить код</a>
               </div>

<div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
          
        </div>
    </ng-template>
 
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    
</div> 

   <app-modal #modal>
    <div class="app-modal-header">
      {{header}}
    </div>
    <div class="app-modal-body" [innerHTML]="myHtml"> 
     {{message}}
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" (click)= "understand()">Понятно</button>
    </div>
  </app-modal>