<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Sarafun</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/icon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/icon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/icon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/icon.ico">
	
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #1F0B37; }</style>

</head>

<body>

	<div class="preloader"><div class="pulse"></div></div>

	<div id="my-page">
		<div class="container" >	
			
				<header class="site-header" >

					<div class="row">
																	
						<div class="header-line">
							<div class="col-lg-7 col-md-8 col-sm-10  col-xs-12">	
								<nav class="header-menu">
									<ul>
										<li><a  href="">О сервисе</a></li>
										<li><a href="#">Видео</a></li>
										<li><a href="#">Партнеры</a></li>
										<li><a class="activ" href="page2">Бизнесу</a></li>
									</ul>
								</nav>
							</div>
						
						
							<div class="col-lg-5 col-md-4 hidden-sm hidden-xs">
								<div class="header-download">
									<a href="#" class="button btnred">Скачать</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-offset-0 col-sm-5">
							<div class="header-img">
								<img src="assets/img/sarafanka_big_logo.svg" alt="">	
							</div>
						</div>

						
						<div class="col-sm-offset-1 col-sm-6 col-md-6 col-xs-12">
							<div class="header-composition">
								
							
								<h2>Привлекайте новых клиентов с помощью Сарафанки!</h2>
								<h1>Сарафанка</h1>
								<p>это рекомендательный сервис для вашего бизнеса с виральным эффектом. 
								Каждый новый клиент приводит к вам еще нескольких с помощью сарафанок.</p>
							</div>
						</div>
						
						
						
						
					</div>
					
				</header>
				
				<div class="new-client">	
					<div class="row">
						<div class="col-sm-offset-1 col-sm-10 col-xs-12 ">
							<div class="new-client">
								<h2>Привлекать новых клиентов с сарафанкой стало просто как никогда!</h2>
							</div>	
							
							<div class="conditions col-sm-offset-2 col-sm-8">
								<p>Вам нужно всего лишь:</p>
							</div>
							
						</div>				
					</div>		
				</div>
				
				<div class="registration">	
					<div class="row">
						<div class="col-sm-12 col-md-12">
							
							<div class="registration-img col-sm-5 col-md-5 col-xs-12">
								<p><img src="assets/img/phone.png" alt=""></p>
							</div>	

							<div class="col-sm-1 col-md-1"></div>
								
							
							<div class="registration-composition col-sm-5 col-md-5 col-xs-12">
								<div class="flex">
									<div class="item-flex">
										<h2>Зарегистрироваться</h2>
										<p>Зарегистрируйте свой бренд или компанию в веб-версии или приложении</p>
										<a href="#" class="button btnred">Зарегистрировать компанию</a>
										<p>Скачать приложение</p>
										<a href="#"><img class="img button button-shop" src="assets/img/app-store.svg" alt=""></a>
										<a href="#"><img class="img button button-shop" src="assets/img/google-play.svg" alt=""></a>
									</div>
								</div>
							</div>
						</div>				
					</div>		
				</div>	
				
				<div class="planning">	
					<div class="row">
						<div class="col-sm-12 col-md-12 col-xs-12">
							
							<div class="planning-img col-sm-6 col-md-6 col-xs-12 col-sm-push-6 col-md-push-6 ">
								<p><img src="assets/img/people.png" alt=""><p>
							</div>	
							
							<div class="planning-composition   col-lg-6 col-sm-6 col-md-6 col-xs-12 col-sm-pull-6 col-md-pull-6">
								<div class="flex">
									<div class="item-flex">
										<h2>Спланируйте акцию</h2>
										<p>Создать маркетинговую акцию, отправить сарафанки довольным клиентам и предоставить им подарки 
										и приятные бонусы, если они приведут к вам своих друзей и знакомых!</p>
									</div>
								</div>
							</div>
							
							

							
							
						</div>				
					</div>		
				</div>	
				
				<div class="meeting">	
					<div class="row">
						<div class="col-sm-12 col-md-12">
							
							<div class="meeting-img col-sm-5 col-md-5 col-xs-12">
								<p><img src="assets/img/clientele.png" alt=""><p>
							</div>	

							<div class="col-sm-1 col-md-1"></div>
								
							
							<div class="meeting-composition col-sm-6 col-md-6 col-xs-12">
								<div class="flex">
									<div class="item-flex">
										<h2>И встречайте новых клиентов</h2>
										<p>Вам осталось отсканировать QR-код указанный на сарафанке или ввести уникальный номер в нашей web-версии.</p>
									</div>
								</div>
							</div>
						</div>				
					</div>		
				</div>	
				
				<div class="statistics">	
					<div class="row">
						<div class="col-sm-12 col-md-12 col-xs-12">
						
						
							<div class="statistics-img col-sm-6 col-md-6 col-xs-12 col-sm-push-6 col-md-push-6">
								<p><img src="assets/img/chart.png" alt=""><p>
							</div>
							
							<div class="statistics-composition col-sm-6 col-md-6 col-xs-12 col-sm-pull-6 col-md-pull-6">
								<div class="flex">
									<div class="item-flex">
										<h2>Смотрите статистику по привлеченным клиентам!</h2>
										<p>Регистрация и создание маркетинговой акции занимает несколько минут! 
										Чтобы сгенерировать и отправить сарафанку клиенту достаточно только номера телефона!</p>
										<a href="#" class="button btnred">Зарегистрировать компанию</a>
									</div>
									
						
								</div>
							</div>
							
						

	
							
						</div>				
					</div>		
				</div>	
				
				<div class="video">	
					<div class="row">
						<div class="col-sm-2 col-md-2"></div>
							<div class="col-sm-8 col-md-8">
								<div class="video-watch">	
									
									<h2>Смотри на видео!</h2>
										
									<div class="flex-video">
										<div class="video-play"></div>
									</div>
								
								</div>		
							</div>		
					</div>		
				</div>	
			
				<div class="connect">	
					<div class="row">
						<div class="col-sm-2 col-md-2"></div>
						<div class="col-sm-8 col-md-8">
							<a class="activ" href="#">Подключить сарафанку</a>	
						</div>		
					</div>		
				</div>		
				
				<footer class="footer">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-xs-6">
						<p><span class="protection">2019 © Все права защищены</span></p>
						</div>
						<div class="col-sm-6 col-md-6 col-xs-6 company">
						<p><span class="company-text">Joyment Group</span></p>
						</div>
					</div>		
				</footer> 
				
			</div>	
		</div>		
	

	<link rel="stylesheet" href="assets/css/main.min2.css">
	<script src="js/scripts.min.js"></script>

</body>
</html>
