<!--<img src="assets/img/choke.jpg" alt="memorynotfound logo"/>-->
<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Sarafun</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="assets/img/favicon/icon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assetsimg/favicon/icon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="assetsimg/favicon/icon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="assetsimg/favicon/icon.ico">
	
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden;} html { background-color: rgb(100%,100%,0 ; }</style>

</head>

<body >

	<div class="preloader"><div class="pulse"></div></div>

	<div id="my-page">
		<div class="container" >	
			
				<header class="site-header" >

					<div class="row">
																	
						<div class="header-line">
							<div class="col-lg-7 col-md-8 col-sm-12  col-xs-12">	
								<nav class="header-menu">
									<ul>
										<li><a class="activ" href="page1">О сервисе</a></li>
										<li><a href="#">Видео</a></li>
										<li><a href="#">Партнеры</a></li>
										<li><a href="page2">Бизнесу</a></li>
									</ul>
								</nav>
							</div>
						
						
							<div class="col-lg-5 col-md-4 hidden-sm hidden-xs">
								<div class="header-download">
									<a href="#" class="button btnred">Скачать</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="header-img">
								<img src="assets/img/main_pic.png" alt="">	
							</div>
						</div>

						
						<div class="col-sm-5 col-xs-12">
							<div class="header-composition">
								<img class="hidden-xs" src="assets/img/arrow.svg" alt="">
								<p><span>Это&nbsp;</span></p>
								<h1>cарафанка</h1><p><span>!</span></p>
								<p>Получайте ее в кафе, салонах красоты, боулингах, на выставках и еще во многих других местах. Рекомендуйте заведения с помощью нее своим друзьям и получайте с ними приятные бонусы и призы.</p>
							</div>
						</div>
						
						
						<div class="col-sm-12">
							<div class="header-question  col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 ">
								<h2>Как это работает?</h2>
								
									<div class="col-sm-6">
										<a href="#" class="button btnred">Для друзей и знакомых</a>
									</div>
									
									<div class="col-sm-6">
										<a href="#" class="button btnblue">Для бизнеса</a>
									</div> 
							</div>
						</div>
						
					</div>
					
				</header>
				
				<div class="friends">	
					<div class="row">
						<div class="col-sm-12">
							<div class="friends-question">
								<h2>Как пользоваться сарафанкой друзьям?</h2>
							</div>	
							
							<div class="friends-answer col-sm-4 col-md-5 hidden-xs">
								<p>Легко!</p>
							</div>
							
							<div class="friends-list col-sm-8 col-md-7 col-xs-12">
								<ul>
									<li><img src="assets/img/icon_done.svg" alt="">Без регистрации</li>
									<li><img src="assets/img/icon_done.svg" alt="">Без скачивания приложения</li>
								</ul>
							</div>
						</div>				
					</div>		
				</div>
				
				<div class="partners">	
					<div class="row">
						<div class="col-sm-12 col-md-12">
							
							<div class="partners-img col-sm-5 col-md-5 col-xs-12">
								<p><img src="assets/img/partners.png" alt=""><p>
							</div>	

							<div class="col-sm-1 col-md-1"></div>
								
							
							<div class="partners-composition col-sm-6 col-md-6 col-xs-12">
								<div class="flex">
									<div class="item-flex">
										<h2>Сарафанку дадут партнеры</h2>
										<p>Получите сарафанку на свой смартфон назвав свой номер телефона в любимом кафе, салоне красоты, 
										кинотеатре или воспользовавшись услугами фрилансера.</p>
									</div>
								</div>
							</div>
						</div>				
					</div>		
				</div>	
				
				<div class="send">	
					<div class="row">
						<div class="col-sm-12 col-md-12 col-xs-12">
							
							<div class="send-img col-sm-6 col-md-6 col-xs-12 col-sm-push-6 col-md-push-6 ">
								<p><img src="assets/img/send.png" alt=""><p>
							</div>	
							
							<div class="send-composition col-sm-6 col-md-6 col-xs-12 col-sm-pull-6 col-md-pull-6">
								<div class="flex">
									<div class="item-flex">
										<h2>Отправляй сарафанку друзьям</h2>
										<p>Перешлите сарафанку своим друзьям, и они придут в заведение по вашей рекомендации!</p>
									</div>
								</div>
							</div>
							
							

							
							
						</div>				
					</div>		
				</div>	
				
				<div class="prize">	
					<div class="row">
						<div class="col-sm-12 col-md-12">
							
							<div class="prize-img col-sm-5 col-md-5 col-xs-12">
								<p><img src="assets/img/prize.png" alt=""><p>
							</div>	

							<div class="col-sm-1 col-md-1"></div>
								
							
							<div class="prize-composition col-sm-6 col-md-6 col-xs-12">
								<div class="flex">
									<div class="item-flex">
										<h2>Получай призы за каждого друга</h2>
										<p>В сарафанке, указано какие подарки и призы получат Ваши друзья,
										просто показав сарафанку в рекомендованном Вами заведении.</p>
									</div>
								</div>
							</div>
						</div>				
					</div>		
				</div>	
				
				<div class="recommendation">	
					<div class="row">
						<div class="col-sm-12 col-md-12 col-xs-12">
						
						
							<div class="recommendation-img col-sm-6 col-md-6 col-xs-12 col-sm-push-6 col-md-push-6">
								<p><img src="assets/img/recommendation.png" alt=""><p>
							</div>
							
							<div class="recommendation-composition col-sm-6 col-md-6 col-xs-12 col-sm-pull-6 col-md-pull-6">
								<div class="flex">
									<div class="item-flex">
										<h2>Как только по вашей рекомендации придет определенное количество друзей, 
										вы получаете от заведения приятные подарки и бонусы.</h2>
										<p>Вы всегда сможете посмотреть свои подарки, отслеживать сколько 
										ваших друзей пришло по вашей рекомендации и много другое в личном кабинете!</p>
										<a href="#" class="button btnblue">В личный кабинет</a>
									</div>
									
						
								</div>
							</div>
							
						

	
							
						</div>				
					</div>		
				</div>	
				
				<div class="video">	
					<div class="row">
						<div class="col-sm-2 col-md-2"></div>
							<div class="col-sm-8 col-md-8">
								<div class="video-watch">	
									
									<h2>Смотри на видео!</h2>
										
									<div class="flex-video">
										<div class="video-play"></div>
									</div>
								
								</div>		
							</div>		
					</div>		
				</div>	
			
				<div class="where-work">	
					<div class="row">
						<div class="col-sm-2 col-md-2"></div>
						<div class="col-sm-8 col-md-8">
							<a class="activ" href="#">В каких местах работает сарафанка?</a>	
						</div>		
					</div>		
				</div>		
				
				<footer class="footer">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-xs-6">
						<p><span class="protection">2019 © Все права защищены</span></p>
						</div>
						<div class="col-sm-6 col-md-6 col-xs-6 company">
						<p><span class="company-text">Joyment Group</span></p>
						</div>
					</div>		
				</footer> 
				
			</div>	
		</div>		

	<link rel="stylesheet" href="assets/css/main.min.css">
	<script src="js/scripts.min.js"></script>

</body>
</html>
