	  
 
	  <div class="row "> 
    <form class="form-horizontal ">
  <!-- #Адаптивный блок (где row)-->			  

	
	

      <div class="item lag col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 ">
			<a routerLink="/admin/actions/">	<div class="circle clr22  ">
          <div class="element ">
            <h2>Акции</h2>
           
          </div>
        </div></a>
	    </div>


		<div class="item col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-3">
			<a routerLink="/admin/stat/">	<div class="circle clr11  ">
          <div class="element">
            <h2>Статистика</h2>
           
          </div>
        </div></a>
	    </div>


      <div class="item center col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-3">
			<a routerLink="/admin/brand">	<div class="circle  clr33 ">
          <div class="element">
          <h2>Бренд</h2>
             </div>
        </div></a>
	    </div>

      <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-3">
		<a routerLink="/admin/est">			<div class="circle clr22 center  ">
          <div class="element">
            <h2>Заведения</h2>
</div>
        </div></a>
	    </div>

      <div class="item col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
		<a routerLink="/admin/staff">			<div class="circle clr11 center  ">
          <div class="element">
            <h2>Персонал</h2>
             </div>
        </div></a>  
	    </div>


      <div class="item col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
		<a routerLink="/admin/actions/enter" >			<div class="circle clr33 center  ">
          <div class="element">
            <h2>Ввести код</h2>
           </div>
        </div></a>
	    </div>

      <div class="item col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
		<a routerLink="/admin/soh" >			<div class="circle clr11 center">
          <div class="element">
            <h2>История</h2>
          </div>
        </div></a>
		
	    </div>
 	
	</form>

 </div>	
   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src="js/salvattore.min.js"></script>

<!--

<h2>Менюшка</h2>
<button routerLink="/admin/actions" > Акции</button>
<button> Второй пункт</button>
<button> Третий пункт</button>
<button> Четвертый пункт</button>
<button> Пятый пункт</button>
<button> Шестой пункт</button>
<button> Седьмой пункт</button>
<button> Восьмой пункт</button>
-->

