
<div class="forma">
	<div class="fon">
		<div class="tab" role="tabpanel">
		   <!-- Nav tabs -->
		   <ul class="nav nav-tabs " role="tablist" >
		   <li role="presentation" class="active center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">НАСТРОЙКА БРЕНДА</a></li>
		   </ul>
			<div class="row">
				 <form class="form-horizontal">								
					<img class="robot" src="assets/img/sarafun.jpg" alt=""> 
					<!-- Кнопка-->
					<div class="center ">
						<div class="floatedL ">
						<button name="subnit" type="submit" class="pers__btn blue" routerLink="/admin/menu" >Отменить</button>
						</div>
					 
						 <div class="floatedR ">
						<button name="subnit" type="submit" class="pers__btn orange" (click)="changeBrandInfo()">Сохранить</button>
						</div>
						
					</div> 
				</form>
			</div>
		</div>
	</div>
</div>
